@model aluguel.Models.Item

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f9a4013b2c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/site.css">
    <link rel="stylesheet" href="assets/css/cadastro.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <title>Login Dark/Light Mode</title>
</head>
<body>
    <main id="container">

        <form id="login_form" method="post" enctype="multipart/form-data">

            <!-- FORM HEADER -->
            <div id="form_header">
                <h1>Tela de Edição</h1>
                <i id="mode_icon" class="fa-solid fa-moon"></i>

            </div>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nmitem" class="control-label">Nome</label>
                <input asp-for="nmitem" class="form-control" />
                <span asp-validation-for="nmitem" class="text-danger"></span>
           
                    <label asp-for="dsitem" class="control-label">Descrição</label>
                <input asp-for="dsitem" class="form-control" />
                <span asp-validation-for="dsitem" class="text-danger"></span>
           
                <input asp-for="dtcriacao" type="hidden" class="form-control" />
                <span asp-validation-for="dtcriacao" class="text-danger"></span>
           
                <label asp-for="snativo" class="control-label"></label>
                <select asp-for="snativo" class="form-control" />
                <option>S</option>
                <option>N</option>
                <span asp-validation-for="snativo" class="text-danger"></span>
           
                <input asp-for="imagem" type="hidden" class="form-control" />
                <span asp-validation-for="imagem" class="text-danger"></span>
            
                <input asp-for="iduser" type="hidden" class="form-control" />
                <span asp-validation-for="iduser" class="text-danger"></span>
           
                    <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
                    <a asp-action="Index">Voltar para a lista</a>
            </div>
        </form>
   </form>
   </main>
   </body>
   </html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
